{% extends "html/head.html" %}

{% block body %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Recupera tu Contraseña</h1>
                                        <p class="mb-4">Introduce la nueva contraseña para tu cuenta justo debajo.</p>
                                    </div>
                                    <form class="user" method="post" action="{% url 'restore_password' %}">
										{% csrf_token %}
                                        <div class="form-group">
                                            <input type="hidden" name="email" class="form-control form-control-user"
                                                value="{{ email }}">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Nueva Contraseña">
                                        </div>
                                        <input value="Cambiar Contraseña" type="submit" class="btn btn-primary btn-user btn-block">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
